<%= erb :'restaurants/_restaurant_name', layout: false, locals: {restaurant: @restaurant} %>
<ul class="restaurant-profile">
  <li>Cuisine: <%= @restaurant.cuisine %></li>
  <li>Location: <%= @restaurant.city %></li>
</ul>

<section class="reviews-section">
<h3 class="latest-reviews">Latest Reviews</h3>
<ul class="reviews-list">
<% @restaurant.reviews.each do |review| %>
<li><%= review.body%> -- reviewed by <%= review.user.email %></li>
<% end %>
</ul>
</section>

<% if logged_in? %>
<section class="review-edit-delete">
<article class="restaurant-review-link"><a href="/restaurants/<%= @restaurant.id %>/reviews/new">Review <%= @restaurant.name %></a></article>
<% end %>

<% if current_user.id == @restaurant.user.id %>
<article class="edit-container"><a class="restaurant-edit-link" href="/restaurants/<%= @restaurant.id %>/edit">Edit <%= @restaurant.name %> </a></article>

<form method="post" action="/restaurants/<%= @restaurant.id %>">
  <input type="hidden" name="_method" value="delete">
  <input class="button" type="submit" value="Delete this restaurant">
</form>
</section>
<% end %>
