"Hello, restaurant profile!"

<ul>
  <li><%= @restaurant.name %></li>
  <li>Cuisine: <%= @restaurant.cuisine %></li>
  <li>Location: <%= @restaurant.city %></li>
  <li>Added by <%= @restaurant.user.email %></li>
</ul>

<ul>
<% @restaurant.reviews.each do |review| %>
<li><%= review.body%> -- reviewed by <%= review.user.email %></li>
<% end %>
</ul>

<% if logged_in? %>
<a href="/restaurants/<%= @restaurant.id %>/reviews/new">Review <%= @restaurant.name %></a>
<% end %>

<% if current_user.id == @restaurant.user.id %>
<a href="/restaurants/<%= @restaurant.id %>/edit">Edit <%= @restaurant.name %> </a>

<form method="post" action="/restaurants/<%= @restaurant.id %>">
  <input type="hidden" name="_method" value="delete">
  <input class="button" type="submit" value="Delete this restaurant">
</form>

<% end %>
